<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}
.inputBook {
  width: 16rem;
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: #e6b0aa;
  display: none;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  transition: 2s 2s;
  margin-bottom: 1rem;
}
label {
  font-size: 0.rem;
}
input {
  height: 1.5rem;
  border-width: 0.2rem;
  width: auto;
}

.library {
  width: 20rem;
}
.button {
  width: 10rem;
  height: 3rem;
  background-color: #38cc77;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
}
.button--addBook {
  width: 7.8rem;
  margin-bottom: 1rem;
}

.button--removeAll {
  background-color: #de4839;
}

.card {
  position: relative;
  background-color: #f8ede3;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  color: #7d6e83;
  margin-right: 0.7rem;
  margin-bottom: 0.7rem;
}

.card--read {
  background-color: #d0b8a8;
}

.card--notRead {
  background-color: #f8ede3;
}

.card .read {
  display: none;
}

.card--notRead:hover {
  background-color: #38cc77;
}
.card--notRead:hover .read {
  display: block;
}

.card .title {
  overflow: hidden;
}

.card:hover .title {
  display: none;
}

.card--read:hover {
  background-color: #de4839;
}

.card--read:hover .read {
  display: block;
}

.button--remove {
  background-color: #f7f9f9;
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
  width: 1rem;
  height: 1rem;
  font-size: 0.5rem;
  border-radius: 30%;
  display: inline-block;
  color: #de4839;
  border: none;
  outline: none;
  display: block;
  padding: 0 0;
  text-align: center;
  font-weight: bold;
}

.library {
  display: flex;
  flex-wrap: wrap;
}

.button--title {
  font-size: 0.5rem;
  background-color: #de4839;
  width: 20%;
  height: 2rem;
  border-radius: 0.5rem;
  color: #fff;
  border: none;
}

label {
  color: #fff;
}